@font-face {
    font-family: "PressStart2P-Regular";
    src: url('/portfolio/dist/fonts/PressStart2P-Regular.ttf')  format('truetype')
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.menu, .projects {
    max-width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu__text {
    font-family: "PressStart2P-Regular";
    margin: auto;
}

.menu__text_middle-gray, .projects__text_middle-gray {
    color: rgb(131, 126, 123);
}

.menu__text_dark-gray {
    color: rgb(51, 51, 51);
}

.menu__text_white {
    color: white;
}

.menu__text_big {
    font-size: 120px;
    text-transform: uppercase;
}

.menu__text_min span {
    font-size: 20px;
    cursor: pointer;
}

.menu__text_min:hover span {
    opacity: 0.7;
}

.menu__item {
    width: 50%;
    height: 33.33%;
}

.menu__content {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.menu__content_dark-gray {
    background-color:  rgb(51, 51, 51);
}

.menu__content_light-gray, .projects__description_light-gray, .projects__scroll_light-gray {
    background-color: lightgray;
}

.menu__content_middle-gray, .projects__main_middle-gray, .projects__scroll_middle-gray {
    background-color: rgb(131, 126, 123);
}

.menu__content_pattern {
    background: url(/dist/img/pattern.jpg);
}

.menu__icon{
    width: 7%;
    cursor: pointer;
}

.projects__description, .projects__view {
    width: 50%;
    height: auto;
    font-family: "PressStart2P-Regular";
}

.projects__top, .about__top {
    width: 100%;
    display: flex;
}

.projects__top div:nth-child(2), .projects__top div:nth-child(3) {
    margin: 25px;
}

.projects__menu-item {
    margin: 0;
}

.projects__description-icon {
    width: 100px;
}

.projects__bottom {
    padding: 10%;
}

.projects__text {
    text-align: center;
    line-height: 55px;
}

.projects__list {
    list-style: none;
    text-align: left;
}

.projects__menu{
    cursor: pointer;
    transition: opacity 1s;
}

.projects__menu:hover, .menu__icon:hover{
    opacity: 0.2;
}

.projects__menu-list {
    border: 1px solid rgb(131, 126, 123);
    background: #D3D3D3;
    position: absolute;
    top: 7%;
    left: 17%;
    z-index: 5;
    width: 200px;
    overflow: hidden;
}

.projects__menu-item {
    transition: background 1s;
    cursor: pointer;
    padding: 5% 2%;
}

.projects__menu-item:hover {
    background: rgb(131, 126, 123);
}

.projects__h1 {
    font-size: 52px;
}

.projects__text-min {
    padding-bottom: 5%;
}

.projects__btn {
    font-family: "PressStart2P-Regular";
    cursor: pointer;
    padding: 3%;
    text-decoration: none;
    background-color: inherit;
    text-transform: uppercase;
    border: 2px solid rgb(131, 126, 123);
    transition: color 1s;
}

.projects__btn a, .projects__list a {
    text-decoration: none;
}

.projects__btn:hover {
    background-color: rgb(51, 51, 51);
}
.projects__btn:hover a, .projects__list li a:hover{
    color: white;
}

.projects__view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects__main {
    width: 100%;
    height: 70%;
    text-align: center;
}

.projects__scroll {
    width: 50%;
    height: 30%;
    text-align: center;
    overflow: hidden;
}

.projects__scroll-back {
    background-repeat: no-repeat;
    background-position: center;
}

.projects__main-icon img, .projects__main-icon source {
    width: 90%;
    height: auto;
}

.project__overlay {
    opacity: 0.6;
    z-index: 2;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
    transition: opacity 1s;
    cursor: pointer;
    height: 100%;
}

.project__overlay:hover {
    opacity: 0.2;
}

@media (max-width : 1700px) {
    .menu__text_big {
        font-size: 80px;
    }
}

@media (max-width : 1600px) {
    .projects__description, .projects__view {
        width: 100%;
    }
    .projects__menu-list {
        left: 27%;
        top: 5%;
    }
}

@media (max-width : 1200px) {
    .menu__item {
        width: 100%;
    }
    .projects__menu-list {
        left: 30%;
    }
}

@media (max-width : 1000px) {
    .projects__menu-list {
        left: 30%;
    }
}

@media (max-width : 600px) {
    .menu__text_big {
        font-size: 50px;
    }
    .projects__menu-list {
        left: 37%;
        top: 4%;
    }
}